@using shared.Entities
@page "/hackaton/edit/{id:int}"

@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Hackatón</h3>

@if (Hackaton is null)
{
    <Loading />
}
else
{
    <HackatonForm @ref="hackatonForm" Hackaton="Hackaton" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Hackaton Hackaton;
    private HackatonForm hackatonForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.GetAsync<Hackaton>($"/api/hackaton/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/hackaton");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Hackaton = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.PutAsync("/api/hackaton", Hackaton);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            navigationManager.NavigateTo("/hackaton");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/hackaton");
    }
}