<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">frontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-truncate" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-truncate" href="person">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Personas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-truncate" href="participant">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Participantes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-truncate" href="ExperienceParticipant">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Experiencia Participante
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-truncate" href="award">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Premios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-truncate" href="TeamMember">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Miembro de Equipo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-truncate" href="Mentor">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Mentor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-truncate" href="MentorArea">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Mentor Area
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-truncate" href="Evaluation">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Evaluation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-truncate" href="Project">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Project
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-truncate" href="Hackaton">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Hackaton
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
