@using shared.Entities
@page "/award/create"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
<h3>Crear premio</h3>

<AwardForm @ref="awardForm" Award="Award" OnSubmit="Create"/>

@code {
    public Award Award = new();
    public AwardForm? awardForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/award", Award);
        if (responseHttp.Error)
        {
            var mensaje = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensaje);
            return;
        }
        navigationManager.NavigateTo("/award");

    }
}