@using shared.Entities
@page "/participant/create"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Participante</h3>

<ParticipantForm @ref="participantForm" Participant="Participant" OnSubmit="Create" ReturnAction="Return" />

@code {
    public Participant Participant = new();
    public ParticipantForm? participantForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/participant", Participant);
        if (responseHttp.Error)
        {
            var mensaje = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensaje);
            return;
        }
        navigationManager.NavigateTo("/participant");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/participant");
    }
}